body {
    background-image: url(../Images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .loginpage {
    margin-left: 300px;
  }

  /* Media Query*/
/*Mobile Devices*/
@media screen (min-width: 320px) and (max-width: 480px) {
  
}

/*iPads & Tablets*/
@media screen (min-width: 481px) and (max-width: 768px) {
  
}

/*Small Screens, Laptops*/
@media screen (min-width: 769px) and (max-width: 1024px) {
  
}

/*Desktops, Large Screens*/
@media screen (min-width: 1025px) and (max-width: 1200px) {
  
}

/*Extra Large Screens, TVs*/
@media screen (min-width: 1201px) {
  
}