header {
    background-color: bisque;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h1 {
    padding: auto;
}

form {
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 450px;
    margin-right: 450px;
}

fieldset {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

legend {
    text-align: center;
}

h6 {
    text-align: center;
}
